html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

h1, h2, h3, h4, h5, h6, p, a, b {
    font-family: "Montserrat", serif;
    color: var(--text-color);
}

:root {
    /* VueForm variables  */
    /* Tag
    --ms-tag-bg: var(--primary-color);
    --ms-tag-color: var(--text-color);
    */

    /* Dropdown
    --ms-dropdown-bg: var(--secondary-color);
    --ms-dropdown-border-color: none;
    --ms-dropdown-radius: 2px;
    */

    /* Select
    --ms-bg: var(--secondary-color);
    --ms-bg-disabled: var(--tertiary-color);
    --ms-border-color: none;
    --ms-ring-color: none;
    --ms-placeholder-color: var(--dark-text-color);
    --ms-spinner-color: none;
    --ms-radius: 2px;
    */

    /* Options
    --ms-option-bg-pointed: var(--primary-color);
    --ms-option-color-pointed: var(--reverse-text-color);
    --ms-option-bg-selected: var(--primary-color);
    --ms-option-color-selected: var(--reverse-text-color);
    --ms-option-bg-selected-pointed: var(--primary-color);
    --ms-option-color-selected-pointed: var(--reverse-text-color);
    --ms-empty-color: var(--dark-text-color);
    */
}

/* Themes */

[data-theme="obsidian"] {
    /* Main Colors */
    --primary-color: #806cd8;
    --secondary-color: #4a37a0;
    --tertiary-color: #2a2d63;
    --accent-color: #1f2147;
    --border-color: #eeeeee;

    /* Text colors */
    --reverse-text-color: #000000;
    --dark-text-color: #eeeeee;
    --text-color: #ffffff;

    /* Other */
    --shadow-color: rgba(0, 0, 0, 0.2);
}

[data-theme="office"] {
    /* Main Colors */
    --primary-color: #f2f2f2;
    --secondary-color: #d9b38c;
    --tertiary-color: #bf8040;
    --accent-color: #996633;
    --border-color: #996633;

    /* Text colors */
    --reverse-text-color: #000000;
    --dark-text-color: #333333;
    --text-color: #ffffff;

    /* Other */
    --shadow-color: rgba(0, 0, 0, 0.2);
}

[data-theme="charcoal"] {
    /* Main Colors */
    --primary-color: #808080;
    --secondary-color: #4d4d4d;
    --tertiary-color: #262626;
    --accent-color: #1a1a1a;
    --border-color: #1a1a1a;

    /* Text colors */
    --reverse-text-color: #000000;
    --dark-text-color: #f2f2f2;
    --text-color: #eeeeee;

    /* Other */
    --shadow-color: rgba(0, 0, 0, 0.2);
}

.page {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    transition: all 0.5s;
}

/* Text & Titles */
.title {
    color: var(--text-color);
    font-family: "Montserrat", serif;
    font-size: 32px;
    font-weight: 700;
}

.sub-title {
    color: var(--text-color);
    font-family: "Montserrat", serif;
    font-size: 20px;
    font-weight: 650;
}

.title-card {
    display: flex;
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 5px;
}

.categories {
    display: flex;
}

.category-card {
    margin: 4px 4px 4px 0;
    display: flex;
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 5px;
}

/* Table */
.trait-table {
    width: 100%;
}

/* Component */
.component {
    overflow: hidden;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
}

.component * {
    color: var(--dark-text-color);
}

/* Navbar */
.navbar {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: start;
    z-index: 5;
    width: 20%;
    transition: all 0.5s;
}

.navbar-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 49px;
    transition: all 0.5s;
    z-index: 5;
}

.navbar-title {
    font-size: 32px;
    font-weight: 700;
    margin: 0 auto;
    padding: 5px;
    z-index: 3;
}

.navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.navbar-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.navbar-options > a, p {
    margin: 0;
}

/* Select */
.select {
    background-color: var(--secondary-color);
    border: none;
    text-align: center;
    transition: all 0.5s;
}

.option {
    color: var(--text-color);
    font-family: "Montserrat", serif;
    font-size: 32px;
    font-weight: 700;
}

/* Inputs */
.text-input {
    color: var(--dark-text-color);
    font-size: 16px;
    font-weight: bold;
    background-color: var(--primary-color);
    width: 100%;
    border-color: var(--border-color);
    border-radius: 5px;
    border: 2px solid;
    box-sizing: border-box;
    height: 40px;
}

.text-input::placeholder {
    color: var(--dark-text-color);
    font-family: "Montserrat", serif;
}

/* Button */
.button {
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 4px;
    margin: 2px;
}

/* Icons */

.icon-32 {
    height: 32px;
    width: 32px;
}

/* Search */

.search {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid var(--primary-color);
    align-items: center;
    transition: all 0.5s;
}

.search-input {
    color: var(--text-color);
    font-family: "Montserrat", serif;
    font-size: 22px;
    font-weight: bold;
    background-color: var(--secondary-color);
    width: 100%;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    height: 40px;
}

.search-input:hover {
    text-decoration: none;
    outline: none;
}

.search-input:focus {
    text-decoration: none;
    outline: none;
}

.search-results {
    color: var(--text-color);
    font-family: "Montserrat", serif;
    font-size: 16px;
    font-weight: 500;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: width 0.5s;
    width: 0;
}

.search-results-opened {
    width: 20%;
    transition: width 0.5s;
}

.search-button {
    width: 100%;
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    border-radius: 5px;
    border-style: solid;
    margin: 2px;
}

.search-category {
    display: flex;
    flex-direction: column;
    width: 100%;
    white-space: nowrap;
}

.search-category-title {
    padding-top: 10px;
    border-bottom: 1px solid var(--primary-color);
}

/* Background Colors */
.background-primary {
    background-color: var(--primary-color);
}

.background-secondary {
    background-color: var(--secondary-color);
}

.background-tertiary {
    background-color: var(--tertiary-color);
}

/* Router Link */
.no-text-link {
    text-decoration: none;
    text-underline: none;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Deck & Cards */
.deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    overflow: hidden;
}

.card {
    height: fit-content;
    margin: 5px;
    flex: 1;
    border-radius: 5px;
}

.card-body {
    padding: 5px;
}

.card-image {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--text-color);
}

.card-text {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--text-color);
}

/* Margin */
.m-10 {
    margin: 10px;
}

/* Account */
.account {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Transitions */

.fall-enter-active,
.fall-leave-active {
    transition: all 0.5s;
}

.fall-enter-from,
.fall-leave-to {
    transform: translateY(-100%);
}

.fall-enter-to,
.fall-leave-from {
    transform: translateY(0%);
}

.slide-enter-active,
.slide-leave-active {
    transition: all 0.5s;
}

.slide-enter-from,
.slide-leave-to {
    transform: translateX(-100%);
}

.slide-enter-to,
.slide-leave-from {
    transform: translateX(0%);
}

/* Modals */
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    transition: opacity 0.3s ease;
}

.modal-container {
    width: 900px;
    margin: auto;
    padding: 20px 30px;
    background-color: var(--secondary-color);
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: "Montserrat", serif;
    color: var(--text-color);
}

.modal-body {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.modal-save {
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--accent-color);
    padding: 5px;
    font-family: "Montserrat", serif;
    color: var(--text-color);
}

.modal-cancel {
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--accent-color);
    padding: 5px;
    margin: 10px;
    font-family: "Montserrat", serif;
    color: var(--text-color);
}

.modal-enter-from {
    opacity: 0;
}

.modal-leave-to {
    opacity: 0;
}

.modal-enter-from .modal-container,
.modal-leave-to .modal-container {
    transform: scale(1.1);
}

/* Column */

.column {
    display: flex;
    flex-direction: row;
}

/* Cursor */
.clickable {
    cursor: pointer;
}

/* Checkbox */
.checkbox {

}

.checkbox-ul {
    padding: 0;
    margin: 0;
    clear: both;
}

.checkbox-li {
    list-style-type: none;
    list-style-position: outside;
    padding: 10px;
    float: left;
}

.checkbox-label {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--tertiary-color);
    color: var(--dark-text-color);
    padding: 5px;
    margin-bottom: 10px;
    user-select: none;
}

.checkbox[type="checkbox"]:checked + label {
    background-color: var(--primary-color);
    color: var(--dark-text-color);
}

/* Fieldset */

.fieldset {
    border-color: var(--border-color);
}

.legend {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
}

/* Theme */
.theme {
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 0;
    padding: 5px 5px 0 5px;
    border-top-left-radius: 5px;
    border-color: var(--tertiary-color);
    background-color: var(--secondary-color);
}

/* Transform */
.capitalize {
    text-transform: capitalize;
}
