html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

h1, h2, h3, h4, h5, h6, p, a, b {
    font-family: "Montserrat", serif;
    color: var(--dark-text-color);
}

:root {
    /* Root Variables */
    --reverse-text-color: #000000;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --dark-text-color: #eeeeee;
    --text-color: #ffffff;
    --primary-color: #806cd8;
    --secondary-color: #4a37a0;
    --tertiary-color: #2a2d63;
    --accent-color: #2a2d63;

    /* VueForm variables */
    /* Tag */
    --ms-tag-bg: var(--primary-color);
    --ms-tag-color: var(--text-color);

    /* Dropdown */
    --ms-dropdown-bg: var(--secondary-color);
    --ms-dropdown-border-color: none;
    --ms-dropdown-radius: 2px;

    /* Select */
    --ms-bg: var(--secondary-color);
    --ms-bg-disabled: var(--tertiary-color);
    --ms-border-color: none;
    --ms-ring-color: none;
    --ms-placeholder-color: var(--dark-text-color);
    --ms-spinner-color: none;
    --ms-radius: 2px;

    /* Options */
    --ms-option-bg-pointed: var(--primary-color);
    --ms-option-color-pointed: var(--reverse-text-color);
    --ms-option-bg-selected: var(--primary-color);
    --ms-option-color-selected: var(--reverse-text-color);
    --ms-option-bg-selected-pointed: var(--primary-color);
    --ms-option-color-selected-pointed: var(--reverse-text-color);
    --ms-empty-color: var(--dark-text-color);
}

.page {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    transition: all 0.5s;
}

/* Text & Titles */
.title {
    color: var(--dark-text-color);
    font-family: "Montserrat", serif;
    font-size: 32px;
    font-weight: 700;
}

.sub-title {
    color: var(--dark-text-color);
    font-family: "Montserrat", serif;
    font-size: 20px;
    font-weight: 500;
}

/* Component */
.component {
    overflow: hidden;
    height: 100%;
    width: 100%;
    transition: width 0.5s;
    margin: 10px;
}

/* Navbar */
.navbar {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: start;
    z-index: 5;
    width: 20%;
    transition: width 0.5s;
}

.navbar-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 49px;
    transition: height 1s;
    z-index: 5;
}

.navbar-title {
    font-size: 32px;
    font-weight: 700;
    margin: 0 auto;
    padding: 5px;
    z-index: 3;
}

.navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.navbar-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.navbar-options > a, p {
    z-index: -1;
    margin: 0;
}

/* Elements */
.select {
    background-color: var(--tertiary-color);
    border: none;
    text-align: center;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    transition: height 1s;
    transition-delay: 2s;
}

.select-closed {
    transition: all 1s;
    transition-delay: 2s;
    padding: 0;
    height: 0;
}

.select-opened {
    transition: all 1s;
    transition-delay: 2s;
    height: 100%;
    padding: 0 0 5px;
}

/* Icons */

.icon-32 {
    height: 32px;
    width: 32px;
}

/* Search */

.search {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid var(--primary-color);
    align-items: center;
}

.search-input {
    color: var(--dark-text-color);
    font-family: "Montserrat", serif;
    font-size: 22px;
    font-weight: bold;
    background-color: var(--secondary-color);
    width: 100%;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    height: 40px;
}

.search-input:hover {
    text-decoration: none;
    outline: none;
}

.search-input:focus {
    text-decoration: none;
    outline: none;
}

.search-results {
    color: var(--dark-text-color);
    font-family: "Montserrat", serif;
    font-size: 16px;
    font-weight: 500;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: width 0.5s;
    width: 0;
}

.search-results-opened {
    width: 20%;
    transition: width 0.5s;
}

.search-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.search-button {
    width: 100%;
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    border-radius: 5px;
    border-style: solid;
    margin: 2px;
}

.search-category {
    display: flex;
    flex-direction: column;
    width: 100%;
    white-space: nowrap;
}

.search-category-title {
    padding-top: 10px;
    border-bottom: 1px solid var(--primary-color);
}

/* Background Colors */
.background-primary {
    background-color: var(--primary-color);
}

.background-secondary {
    background-color: var(--secondary-color);
}

.background-tertiary {
    background-color: var(--tertiary-color);
}

/* Router Link */
.no-text-link {
    text-decoration: none;
    text-underline: none;
}

/* Deck & Cards */
.deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    overflow: hidden;
}

.card {
    height: fit-content;
    margin: 5px;
    flex: 1;
    border-radius: 5px;
}

.card-body {
    padding: 5px;
}

.card-image {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-title {
    margin-top: 0;
    margin-bottom: 10px;

}

.card-text {
    margin-top: 10px;
    margin-bottom: 10px;

}

/* Genre */
.genre {
    position: absolute;
    height: 100%;
    width: 100%;
}

/* Talent */
.talent {
    position: absolute;
    height: 100%;
    width: 100%;
}

/* Account */
.account {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Transitions */

.fall-enter-active,
.fall-leave-active {
    transition: all 0.5s;
}

.fall-enter-from,
.fall-leave-to {
    transform: translateY(-100%);
}

.fall-enter-to,
.fall-leave-from {
    transform: translateY(0%);
}

.slide-enter-active,
.slide-leave-active {
    transition: all 0.5s;
}

.slide-enter-from,
.slide-leave-to {
    transform: translateX(-100%);
}

.slide-enter-to,
.slide-leave-from {
    transform: translateX(0%);
}

/* Modals */
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    transition: opacity 0.3s ease;
}

.modal-container {
    width: 300px;
    margin: auto;
    padding: 20px 30px;
    background-color: var(--secondary-color);
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: "Montserrat", serif;
    color: var(--dark-text-color);
}

.modal-body {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.modal-default-button {
    float: right;
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    border-radius: 5px;
    border-style: solid;
    margin: 2px;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter-from {
    opacity: 0;
}

.modal-leave-to {
    opacity: 0;
}

.modal-enter-from .modal-container,
.modal-leave-to .modal-container {
    transform: scale(1.1);
}
