/*------ BANNER------*/
.banner-text {
    color: rgb(143 151 183);
    font-style: italic;
    padding-top: 0;
    margin-top: 0;
}

.obsidian-banner-wrapper {
    margin-top: calc(var(--banner-height) - 80px);
    padding-top: 0.5em;
}

.obsidian-banner-wrapper .obsidian-banner .banner-image.banner-image.banner-image.banner-image {
    border-radius: 0px;
}
