/* Text */
:root body {
    color: #D5D5D5 !important;
  --bold-modifier: 300 !important;
}

:root hr {
    margin: 5px !important;
}

.markdown-preview-view {
    color: #D5D5D5 !important;
}

.cm-html-embed th, .markdown-rendered th {
    color: #D5D5D5 !important;
}

.cm-hmd-internal-link .cm-underline, .internal-link {
    text-decoration: initial !important;
}

/*------ Fold ------*/
.heading-collapse-indicator {
    margin-inline-start: -44px !important;
}

/*------ HEADERS ------*/
/*------ Remove headers margin ------*/
.markdown-rendered h1, .markdown-rendered h2, .markdown-rendered h3, .markdown-rendered h5, .markdown-rendered h6 {
    margin: 0;
    display: flex;
    color: #D5D5D5 !important;
    margin-top: 30px !important;
    margin-bottom: 0 !important;
    margin-left: -2px;
    display: flex;
    color: var(--head-fg);
    background-color: var(--head-bg);
    padding: var(--title-padding);
    min-height: 26px;
    line-height: 1em;
    border-radius: var(--border-radius);
    vertical-align: middle;
}

 .markdown-rendered h4 {
    color: #D5D5D5 !important;
    margin: 0;
}


.markdown-rendered h5, .markdown-rendered h3 {
    border-bottom: 1px solid gray;
}

/*------ Remove large header top margin ------*/
.markdown-rendered div:has( > :is(p,pre,table,ul,ol)) + div > :is(h1,h2,h3,h4,h5,h6) {
    margin-top: 0;
}

/*------ LISTS ------*/
ul {
    margin-top: 0;
    margin-bottom: 0px;
}

.markdown-rendered ul, .markdown-rendered ol {
    padding-inline-start: var(--list-indent);
    margin-block-start: 0;
    margin-block-end: var(--p-spacing);
}

/*------ PARAGRAPHS ------*/
p {
    margin-block-start: 0;
}

/*------ TIMELINE ------*/
.timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    border: 4px solid #c5cff5;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timeline-container > h2 {
    margin-top: 7px;
    margin-bottom: 15px;
    align-self: center;
}

/*------ REMOVE FILTER ITEMS OPTION ------*/
[aria-label="Filter items"] {
    display:none;
}

